:root {
	--high-light: #ff5757;
	--text-lines: #292f36;
	--wall-paint: #eff9f0;
	--low-light: #adbca5;
}

body {
	background-color: var(--wall-paint);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
	color: var(--low-light);
}

h1,
h3,
h4,
h5,
h6,
p {
	color: var(--text-lines);
}

#scroll-arrow,
.socials {
	background-color: transparent;
	border: 0px;
	height: 5%;
}
